* {
  box-sizing: border-box;
}

.page-title {
  text-align: center;
  margin-bottom: 50px;
}

.section1, .section2, .section3 {
  border: 1px solid black;
  padding: 20px;
  padding-top: 20px; 
  position: relative;
  background-color: rgb(168, 165, 165);
  float: left;
  margin: 10px;
}

.section1-title, .section2-title, .section3-title {
  border: 1px solid black;
  border-top: 0;
  border-right: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 20px;
  box-sizing: border-box;
}

.section1-title { background-color: pink; }
.section2-title { color: white; background-color: red; }
.section3-title { background-color: antiquewhite; }

/* desktop view (≥992px) */
@media (min-width: 992px) {
  .section1, .section2, .section3 {
    width: 31%;
    height: 36vh;
  }
}

/* tablet view (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .section1, .section2 {
    width: 47%; 
    margin: 1%;
  }
  .section3 {
    width: 96%;
    margin: 1%;
    clear: left;
  }
  .section1, .section2, .section3 {
    height: 30vh;
  }
}

/* mobile view (≤767px) */
@media (max-width: 767px) {
  .section1, .section2, .section3 {
    width: 98%;
    clear: left;
  }
}
